@media screen and (min-width: 700px) {
  .main .container .box {
    width: 31.4%;
    margin-right: 2.3%;
  }
}
@media screen and (max-width: 699px) {
  .main .container .box {
    width: 48.2%;
    margin-right: 2.3%;
  }
}
@media screen and (max-width: 450px) {
  .main .container .box {
    width: 100%;
    margin-right: 0;
  }
  .footer .footer-content .form-contact {
    margin-left: 0;
  }
}
